body {
  min-width: 600px !important;
}

.webgazerVideoContainer {
  display: block;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 320px !important;
  height: 240px !important;
  z-index: 1;
}

.calibrationDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4);
  z-index: 9999;
}

/* Calibration button styling */
.Calibration {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: red;
  opacity: 0.2;
  border-color: black;
  border-style: solid;
  position: fixed;
}

/* Calibration point position */
#Pt1 {
  top: 70px;
  left: 340px;
}

#Pt2 {
  top: 70px;
  left: 50vw;
}

#Pt3 {
  top: 70px;
  right: 2vw;
}

#Pt4 {
  top: 50vh;
  left: 2vw;
}

#Pt5 {
  top: 50vh;
  left: 50vw;
}

#Pt6 {
  top: 50vh;
  right: 2vw;
}

#Pt7 {
  bottom: 2vw;
  left: 2vw;
}

#Pt8 {
  bottom: 2vw;
  left: 50vw;
}

#Pt9 {
  bottom: 2vw;
  right: 2vw;
}

/* デバッグ用の表示スタイル↓↓↓*/
.debugInfo {
  position: fixed;
  top: 0;
  left: 320px;
  display: flex;
  z-index: 99999;
}
.accuracy {
  background-color: #222 !important;
  color: #fff;
  margin-right: 10px;
}

.status {
  background-color: #222 !important;
  color: #fff;
  margin-right: 10px;
}

.gazing {
  background-color: #222 !important;
  color: #fff;
}
/* デバッグ用の表示スタイル↑↑↑*/

.is-hidden {
  overflow: hidden;
}

.is-hide {
  display: none;
}

.is-hide--f {
  display: none !important;
}

.action {
  background-color: #ffff00;
}